$color-primary: #13c1d6;
$color-success: #4cd964;
$color-warning: #f0ad4e;
$color-error: #dd524d;
$text-color: #333;
$text-color-inverse: #fff;
$text-color-grey: #999;
$text-color-placeholder: #808080;
$text-color-disable: #c0c0c0;
$text-color-gary: #c0c0c0;
$bg-color: #ffffff;
$bg-color-grey: #f8f8f8;
$bg-color-hover: #f1f1f1;
$bg-color-mask: rgba(0, 0, 0, 0.4);
$border-color: #c8c7cc;
$font-size-sm: 24rpx;
$font-size-base: 28rpx;
$font-size-lg: 32rpx;
$img-size-sm: 40rpx;
$img-size-base: 52rpx;
$img-size-lg: 80rpx;

$border-radius-sm: 4rpx;
$border-radius-base: 6rpx;
$border-radius-lg: 12rpx;
$border-radius-circle: 50%;
$spacing-row-sm: 10px;
$spacing-row-base: 20rpx;
$spacing-row-lg: 30rpx;
$spacing-col-sm: 8rpx;
$spacing-col-base: 16rpx;
$spacing-col-lg: 24rpx;
$opacity-disabled: 0.3;
$color-title: #2c405a;
$font-size-title: 40rpx;
$color-subtitle: #555555;
$font-size-subtitle: 36rpx;
$color-paragraph: #3f536e;
$font-size-paragraph: 30rpx;
